@import "tailwindcss";

html, body {
  font-family: Inter, sans-serif;
}












/* 
COMMENTED THIGNS

.inter-<uniquifier> {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
} 
	


*/