---
import Layout from "../layouts/Layout.astro"
import Previas from "../components/previas"
---
<Layout>
	<main>
		<h1>Computaci칩n</h1>
		<p>En esta secci칩n encontrar치s cursos de computaci칩n.</p>
		<Previas client:load/>
	</main>
</Layout>