---
import Layout from '../layouts/Layout.astro';
import form from '../assets/form.svg';
import bug from '../assets/bug.svg';
import code from '../assets/code.svg';
---

<Layout>
	<header class="flex flex-col gap-4">
		<h1>Trayectorias Fing<em class="text-red-400 text-sm"> Beta 1</em></h1>
		<p>Web Open Source de seguimiento de previas de todas las carreras de la FING.</p>
		<nav>
			<ul class="flex flex-row text-lg font-semibold lg:text-lg md:text-md text-sm">
				<li><a target="_blank" href="https://github.com/gioerramun/trayectorias">Código<img src={code.src} alt="form icon"></a></li>
				<li><a target="_blank" href="https://github.com/gioerramun/trayectorias/issues/new/choose">Bugs<img src={bug.src} alt="form icon"></a></li>
				<li><a target="_blank" href="https://forms.gle/7eNbjansRJ1S4mtq9">Informar cambios<img src={form.src} alt="form icon"></a></li>
			</ul>
		</nav>
	</header>
	<section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-5">
		<article>
			<a href="/computacion"><h4>Ingeniería en Computacion</h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería Eléctrica<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería Química<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería Fisico-Matemático<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería Civil<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería Producción<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería Industrial Mecánica<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
		<article>
			<a class="pointer-events-none leading-none" href="/"><h4>Ingeniería en Sistemas de Comunicación<br><em class="text-blue-400 text-sm"> Próximamente...</em></h4></a>
		</article>
	</section>
</Layout>

<style>
	article {
		background-color: rgb(26, 33, 45, 0.5);
		border: 1px solid #2d3748;
		backdrop-filter: blur(10px);
		border-radius: 0.75rem;
	}

	article > a {
		color: #f7fafc;
		display: block;
		height: 100%;
		width: 100%;
		padding: 1rem;
	}
	li {
		border-bottom: 1px solid rgb(247, 250, 252);
		padding: 0 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1.25rem;
	}
	li > a {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
	li:hover {
		font-weight: 800;
	}
</style>