---
// Import the CSS from the `src/styles` directory
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Trayectorias Fing</title>
	</head>
	<body class="min-h-screen h-full">
		<div class="root min-h-screen h-full">
			<main class=" -z-10 lg:px-[10rem] md:px-[5rem] px-[2rem] py-[2rem] space-y-3">	
				<slot />
			</main>
			<footer class="text-center text-gray-400 py-4 pb-10 flex justify-center">
				<span class="flex flex-wrap justify-center border p-1 px-10 rounded-full">
					<p class="">Trayectorias Fing <em>Beta 1</em> |</p>
					<p>| Desarrollado por <span class="underline hover:font-[500]"><a target="_blank" href="https://github.com/gioerramun">Gianfranco Erramún</a></span> |</p>
					<p>| Open Source</p>
				</span>
			</footer>
		</div>
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	.root {
		background-image: linear-gradient(to right bottom, #050505, #14112b, #1b174d, #231b70, #311c94);
	}
	body {
		font-family: -apple-system, BlinkMacSystemFont, "SF Pro", Inter, sans-serif;
		color: aliceblue;
	}
	h1 {
		font-weight: 900;
		font-size: 3rem;
	}
	h2 {
		font-weight: 700;
		font-size: 2.5rem;
	}
	h3 {
		font-weight: 600;
		font-size: 2.25rem;
	}
	h4 {
		font-weight: 500;
		font-size: 2rem;
	}
	h5 {
		font-weight: 400;
		font-size: 1.5rem;
	}
	h6 {
		/* comodin */
	}

	
</style>


<!-- seasalt f9f9f9
blackolive 343633
amethyst 7d70ba 
https://coolors.co/f9f9f9-343633-7d70ba
-->
